
<div class="section-testimonials">
    <div class="owl-carousel owl-portfolio">
        <div class="owl-el">
            <blockquote>
                <p>Excellent customer service !!! The staff was very warm and accommodating, and they really were helpful to me.</p>
                <div>
                    <h5>Amy Castillo <span> <a href="https://www.facebook.com/JJRattan/facebook" target="blank">facebook</a> </span></h5>
                </div>
            </blockquote>
        </div>
        <div class="owl-el">
            <blockquote>
                <p>The olny place I'll ever go to for orchid arrangements and wicker furniture.</p>
                <div>
                    <h5>Yamile Alfaro <span> <a href="https://www.facebook.com/JJRattan/facebook" target="blank">facebook</a> </span></h5>
                </div>
            </blockquote>
        </div>
        <div class="owl-el">
            <blockquote>
                <p>This is a place filled with beautiful unique accessories, modern, contemporary, wicker and rattan furniture , plants flowers and the most beautiful orchids they also make gorgeous arrangements. It's a place filled with lovely people and service something that doesn't exist anymore!</p>
                <div>
                    <h5>Martie Keven <span> <a href="https://www.facebook.com/JJRattan/facebook" target="blank">facebook</a> </span></h5>
                </div>
            </blockquote>
        </div>
        <div class="owl-el">
            <blockquote>
                <p>Love the service and the selection. I always ask when they are getting shipments to get the best options.</p>
                <div>
                    <h5>Janelle Prieto Garcia <span> <a href="https://www.facebook.com/JJRattan/facebook" target="blank">facebook</a> </span></h5>
                </div>
            </blockquote>
        </div>
        <div class="owl-el">
            <blockquote>
                <p>Best place ever!!!! A go to for my orchid arrangements </p>
                <div>
                    <h5>Rosy Perez Riguero <span> <a href="https://www.facebook.com/JJRattan/facebook" target="blank">facebook</a> </span></h5>
                </div>
            </blockquote>
        </div>
        <div class="owl-el">
            <blockquote>
                <p>Beautiful and pleasant place, with very attentive people</p>
                <footer>
                    <h5>Maivy Hector Villarez <span> <a href="https://www.facebook.com/JJRattan/facebook" target="blank">facebook</a> </span></h5>
                </footer>
            </blockquote>
        </div>
        <div class="owl-el">
            <blockquote>
                <p>Me encantan todos los arreglos de JJ, ejemplar servicio.</p>
                <div>
                    <h5>Margo Clavero <span> </span></h5>
                </div>
            </blockquote>
        </div>
        <div class="owl-el">
            <blockquote>
                <p>I love visiting this store, I always find gret items for the house.</p>
                <div>
                    <h5>Lianet Fernandez <span> </span></h5>
                </div>
            </blockquote>
        </div>
    </div> 
    <i class="fa icon_quotations"></i>
</div>
